node_modules/
package-lock.json
.idea/
client/node_modules

Dear Mr / Ms,
I hope you are doing well.

about this assignment, I really enjoyed it and I create a react app for the API endpoints.
you can find the readme file and the code on GitHub via this link
https://github.com/samman06/hotel

you can check the Postman collection
1- localhost API
https://www.getpostman.com/collections/9a982bc7c4061b52c19f
2- online API
https://www.getpostman.com/collections/0c7c81d575286f04d414

Regards,
 Abd El-Moneam

